<section id="voluptatem" class="accusantium our_pf1">
    <div class="container">
    	<div class="vp_adjust">
	        <p>Lorem ipsum Do</p>
	        <h3>Voluptatem Accusantium</h3>
    		<div class="col-sm-12 icons">
                <div class="col-sm-4">
                        <div class="img1">
                            <img src="../../../assets/img/icon-1.png">
                        </div>
                        <span>85+</span>
                        <p>Companies</p>
                </div>

                <div class="col-sm-4">
                    <div class="img2">
                            <img src="../../../assets/img/icon-2.png">
                        </div>
                        <span>254</span>
                        <p>Assessments Completed</p>
                </div>
                <div class="col-sm-4">
                    <div class="img3">
                            <img src="../../../assets/img/icon-3.png">
                        </div>
                        <span>100%</span>
                        <p>Customer Satisfaction</p>
                </div>
            </div>       
        </div>        
    </div>
</section>
