<section id="our_prd_fet" class="our_pf product_f">

  <div class="container">
     <div class="container">
         <p>Awesome placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora</p>
         <h3>Our Product Features</h3>
         <p class="feaie_dtl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora</p>
     </div>
 </div>
 
</section>

<section id="accordian_pf" class="our_pf_accor">
<!--Accordion wrapper-->
<div class="container">
    <div class="row">
        <div class="col-sm-4 our_prd_fet product_fet product_feature hover1" *ngFor="let products of product">
        <div class="col-sm-12 page2 head"> 
            <h5>{{products.title}}</h5>
         </div>   
         <div class="col-sm-12 rates">    
            <p>₹ <span>{{products.priceperannum}}/</span>Month</p>
            <p>(up to {{products.numberofemployees}} EMPOLYEE)</p>
            <span> + </span>
           <p>₹ <span>{{products.pricepermonth}}/</span>Month</p>
            <p class="per_ad">PER ADDITIONAL EMPLOYEE</p>
           </div> 
             <div class="col-sm-12 fold_pge_pf">
           
            <h5 class="sub_head1">All Foundation Features 1</h5>
            <ul>
                <li>Company Setup</li>
                <li>Organogram</li>
                <li>Job Discription</li>
                <li>Multiple Assessment</li>
                <li>Company Setup</li>
                <li>Organogram</li>
                <li>Job Discription</li>

            </ul>

            <div class="bye_nw">
                 <a href="#" class="buy1">Buy Now</a>
             </div>
            </div>
        </div>

        <!--<div class="col-sm-4 product_fet product_feature hover2">
        <div class="col-sm-12 page2 head2"> 
            <h5>Strength</h5>
        </div>
        <div class="col-sm-12 rates">    
            <p>₹ <span>6999/</span>Month</p>
            <p>(up to 100 EMPOLYEE)</p>
            <span> + </span>
           <p>₹ <span>60/</span>Month</p>
            <p class="per_ad">PER ADDITIONAL EMPLOYEE</p>
         </div>   
        <div class="col-sm-12 fold_pge_pf">
            
            <h5 class="sub_head2">All Foundation Features 1</h5>
            <ul>
                <li>Job Discription</li>
                <li>Multiple Assessment</li>
                <li>Company Setup</li>
                <li>Organogram</li>
                <li>Job Discription</li>

            </ul>
           <div class="bye_nw">
                 <a href="#" class="buy2">Buy Now</a>
             </div>
        </div>


        </div>

        <div class="col-sm-4 product_fet product_feature hover3">
         <div class="col-sm-12 page2 head3"> 
            <h5>Growth</h5>
         </div> 
         <div class="col-sm-12 rates">    
            <p>₹ <span>9999/</span>Month</p>
            <p>(up to 100 EMPOLYEE)</p>
            <span> + </span>
           <p>₹ <span>90/</span>Month</p>
            <p class="per_ad"> PER ADDITIONAL EMPLOYEE</p>
          </div>  
             <div class="col-sm-12 fold_pge_pf">
           
            <h5 class="sub_head3">All Foundation Features 1</h5>
            <ul>
                <li>Job Discription</li>
                <li>Multiple Assessment</li>
                <li>Company Setup</li>
                <li>Organogram</li>
             

            </ul>
            <div class="bye_nw">
                 <a href="#" class="buy3">Buy Now</a>
             </div>
            </div>
        </div>-->
        
    </div>
    <div  class="col-sm-12 note">
        <p>*Minimum Commitment of 3 months required </p>
    </div>
</div>

</section>

<section id="product_tour">
<div class="container">
    <div class="col-sm-12 orange_btn">
        <a href="#">Product Tour</a>
    </div>
</div>
</section>