<section id="testimoials">
    <div class="container-fluid">
    <div class="col-sm-12 our_testimoials">
        <div class="our_testi2" >
            <h3>Testimonials</h3>
            
            <div class="col-sm-12 carousel" >
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" >
                <div class="carousel-inner col-sm-12 crl-content" role="listbox">
                    <div class="carousel-item active">
                            <p>
                                    "When you next make a booking, we guarantee that you will always receive the best possible rates providing you book directly through the hotel website, or via the hotel reservation desk. This is our best rate guarantee to you. We cannot guarantee that you'll receive 
        
                                    <br> 
                                    When you next make a booking, we guarantee that you will always receive the best possible rates providing you book directly through the hotel website, or via the hotel reservation desk. This is our best rate guarantee to you. We cannot guarantee that you'll receive "
                                </p> 
                    </div>
                    <div class="carousel-item">
                        <p>
                            "When you next make a booking, we guarantee that you will always receive the best possible rates providing you book directly through the hotel website, or via the hotel reservation desk. This is our best rate guarantee to you. We cannot guarantee that you'll receive 

                            <br> 
                            When you next make a booking, we guarantee that you will always receive the best possible rates providing you book directly through the hotel website, or via the hotel reservation desk. This is our best rate guarantee to you. We cannot guarantee that you'll receive "
                        </p>
                    </div>
                    <div class="carousel-item">
                        <p>
                            "When you next make a booking, we guarantee that you will always receive the best possible rates providing you book directly through the hotel website, or via the hotel reservation desk. This is our best rate guarantee to you. We cannot guarantee that you'll receive our best rate by booking via a third party on line, such as Booking.

                            <br>
                            When you next make a booking, we guarantee that you will always receive the best possible rates providing you book directly through the hotel website, or via the hotel reservation desk. This is our best rate guarantee to you. We cannot guarantee that you'll receive" 
                        </p>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                </a>
                </div>
            </div>

            
        </div>
       </div> 
    </div>
    
</section>
