
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light bg-faded nav_bd_poll_voted payment-blackmenu">
    <logo>
        <a class="navbar-brand" [routerLink]="['']">
            <img src="../../assets/img/epes-logo.png" />
        </a>
    </logo>
    <links>
    	<ul class="navbar-nav mr-auto">
    		<li class="nav-item">
                <a [routerLink]="['/products']" class="nav-link waves-light" mdbWavesEffect>Products<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['']" class="nav-link waves-light" mdbWavesEffect>Company</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/faqs']" class="nav-link waves-light" mdbWavesEffect>Customer Experience</a>
            </li>
        	<li class="nav-item">
                <a [routerLink]="['']" class="nav-link waves-light" mdbWavesEffect>Support & Services</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['']" class="nav-link waves-light" mdbWavesEffect>Resources</a>
            </li>
            <li class="nav-item login_all_poll" >
                <a [routerLink]="['/registration']" class="nav-link" href="#">Register/<span>Login</span></a>
            </li> 
    	</ul>
    </links>
</mdb-navbar>

<div class="container">
  <h2 class="title_payment">Payment</h2>
  <p class="paymt-disc">Essoltmn voluptate velit esse cillum dolore eu fugiat</p>
  <div class="row">

      
  <div class=" col-md-6 order-md-2 summery-sec">
    <p class="summery-dic">You'll be doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi doloremque laudantium</p>
    <h4 class="summury-title">Order Summary</h4>
    <div class="row">
      <div class="col-6 label-text ">Produxts:</div>
      <div class="col-6 dymanic-value">EPES 360</div>
    </div>
    <div class="row">
      <div class="col-6 label-text">Number of Users:</div>
      <div class="col-6 dymanic-value">100</div>
    </div>
    <div class="row">
      <div class="col-6 label-text">Licensing mdel:</div>
      <div class="col-6 dymanic-value">Subscriptiond</div>
    </div>
    <div class="row">
      <div class="col-6 label-text">Package:</div>
      <div class="col-6 dymanic-value">Foundatoin</div>
    </div>
    <div class="row">
      <div class="col-6 label-text">Drarion, Years</div>
      <div class="col-6 dymanic-value"></div>
    </div>
    <div class="summery-footer">
      <div class="title_totleamount">Total Cost:</div>
      <div class="totleamount">25600</div>
      <p class="">You'll be doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis</p>
    </div>
  </div>
  
 

  <div class="col-md-6  order-md-1 ">
      <div class="form_wrapper">
        
        <h2 class="form_title">Please Fill Out All <span>Fielda</span></h2>
        <form class="payment-form">
          <input class="form-control" id="full_name" placeholder="Full Name*" type="text">
          <input class="form-control" id="email" placeholder="Email*" type="email">
          <input class="form-control" id="phone" placeholder="Phone*" type="text">
          <textarea class="form-control" id="address" placeholder="Address" ></textarea>
          <select class="form-control" id="State" >
            <option>State</option>
          </select>
          <select  class="form-control" id="Country" >
            <option>Country</option>
          </select>
        </form>
      </div>
    </div>


  </div>
</div>


<div class="container"
><div class="col-md-2">
  <h2 class="sidebar_title">EPES 360</h2>
  <h4 class="sidebar_dic">Accusantium doloremque</h4>
  <buttom class="video-btn">Watch video</buttom>
  <div class="sidebar_menu_title">Features</div>
  <ul class="nav nav-pills nav-stacked sidebar_menu">
    <li class="active"><a href="#tab_a" data-toggle="pill">Contact Management</a></li>
    <li><a href="#Contact_Management" data-toggle="pill">Oppertunity Management</a></li>
    <li><a href="#Lead_Management" data-toggle="pill">Lead Management</a></li>
    <li><a href="#Reports_Dashboards" data-toggle="pill">Reports & Dashboards</a></li>
    <li><a href="#Mobile" data-toggle="pill">Mobile</a></li>
    <li><a href="#Email_Integration" data-toggle="pill">Email Integration</a></li>
    <li><a href="#Sales_Forecasting" data-toggle="pill">Sales Forecasting</a></li>
    <li><a href="#Forkflow_Approvals" data-toggle="pill">Forkflow and  Approvals</a></li>
    <li><a href="#Files_Share" data-toggle="pill">Files Aync and Share</a></li>
    <li><a href="#Sales_Collaboration" data-toggle="pill">Sales Collaboration</a></li>
  </ul>
</div>
  <div class="tab-content col-md-10">
          <div class="tab-pane active" id="tab_a">
               <h4>Pane A</h4>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
          </div>
          <div class="tab-pane" id="tab_b">
               <h4>Pane B</h4>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
          </div>
          <div class="tab-pane" id="tab_c">
               <h4>Pane C</h4>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
          </div>
          <div class="tab-pane" id="tab_d">
               <h4>Pane D</h4>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
          </div>
  </div><!-- tab content -->
  <div class="clearfix"></div>
  </div><!-- end of container -->

<app-footer></app-footer>