<section id="ep_banner">
  <div class="esep_nr">
    <div>
        <img src="../../../assets/img/product.jpg"/>
    </div>
    <section id="search" class="search_key">
      <div class="container">
        <div class="col-sm-12 sed_unde">
            <h3>Sed prespiciatis! unde omnis</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima </p>
            <form><input type="text" class="search" name="search" placeholder="Search Keyword...."></form>
            <i class="fas fa-search"></i>
        </div> 
      </div>   
    </section>
  </div>
</section>  