<section id="our_features" class="our_pf">
  <div class="container">
      <p>{{header_pre_title}}</p>
      <h3>{{header_title}}</h3>
      <p class="feaie_dtl">{{header_description}}</p>
  </div>
</section>
<section id="featr_pic1">
<div class="container">
  <div class="col-sm-12 feature_imgs"> 
      <div class="col-sm-4">
         <img src="{{ourfeature_image1}}" alt="Avatar" class="image" style="width:100%">
              <div class="middle">
              <div class="text">{{ourfeature_text1}}</div>
          </div>
      </div>   

      <div class="col-sm-4">
         <img src="{{ourfeature_image2}}" alt="Avatar" class="image" style="width:100%">
              <div class="middle">
              <div class="text">{{ourfeature_text2}}</div>
          </div>
      </div> 

      <div class="col-sm-4">
         <img src="{{ourfeature_image3}}" alt="Avatar" class="image" style="width:100%">
              <div class="middle">
              <div class="text">{{ourfeature_text3}}</div>
          </div>
      </div> 

  </div>
  <div class="col-sm-12 feature_imgs2">
      <div class="col-sm-4">
         <img src="{{ourfeature_image4}}" alt="Avatar" class="image" style="width:100%">
              <div class="middle">
              <div class="text">{{ourfeature_text4}}</div>
          </div>
      </div>   

      <div class="col-sm-4">
         <img src="{{ourfeature_image5}}" alt="Avatar" class="image" style="width:100%">
              <div class="middle">
              <div class="text">{{ourfeature_text5}}</div>
          </div>
      </div> 

      <div class="col-sm-4">
         <img src="{{ourfeature_image6}}" alt="Avatar" class="image" style="width:100%">
              <div class="middle">
              <div class="text">{{ourfeature_text6}}</div>
          </div>
      </div>
    </div>
</div>
</section>
<section id="see_all_feature">
    <div class="col-sm-12">
        <a href="#">See All Features</a>
    </div>
</section>