<footer id="footer">
	<div class="container">
    <div class="col-sm-12 footer-head">
        <div class="col-sm-4 footer_log">
             <img src="../../../assets/img/epes-logo.png" alt="wait">
        </div>
        <div class="col-sm-2">
            <h5>PRODUCTS</h5>
        </div>
        <div class="col-sm-2">
            <h5>COMPANY</h5>
        </div>
        <div class="col-sm-4">
            <h5>CONTACT DETAILS</h5>
        </div>
    </div>
 
    <div class="col-sm-12 details">
        <div class="col-sm-4 img-dtl detail">
            <p>
                360 you next make a booking, we guarantee that you will always receive the best possible rates providing you book directly through the hotel website, or via the hotel reservation desk. This is our best rate guarantee to you. We cannot guarantee that you'll receive "
            </p>
        </div>
        <div class="col-sm-2 product-dtl detail">
            <ul>
                <li><a href="#">EPES 360</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Pricing</a></li>
            </ul>
        </div>
        <div class="col-sm-2 company-detail detail">
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Partner with Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Help Desk</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </div>
        <div class="col-sm-4 contact detail">
            <div class="col-sm-12 contact-info">
                <div class="col-sm-6">
                    <p>For sales</p>
                    <ul class="bt-contact-info">
                        <li><i class="fa fa-map-marker"></i>&nbsp; Address: 123 Main Street,</li>
                        <li><i class="fa fa-phone"></i>&nbsp; (800) 0123 4567 890</li>
                        <li><i class="fa fa-envelope"></i>&nbsp; Support@My.website.com</li>
                    </ul>
                   
                </div>
                <div class="col-sm-6">
                     <p>For Support</p>
                     <ul class="bt-contact-info">
                        <li><i class="fa fa-phone"></i>&nbsp; (800) 0123 4567 890</li>
                         <li><i class="fa fa-envelope"></i>&nbsp; Support@My.website.com</li>
                     </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</footer>
