<app-navheader></app-navheader>
<app-banner></app-banner>
<app-ourfeatures></app-ourfeatures>
<app-ourproduct></app-ourproduct>

<section>
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-12">
				<app-voluptatem></app-voluptatem>
			</div>
		</div>
	</div>
</section> 
<section>
		<div class="col-md-12">
			<div class="row">
		<div class="col-md-6 col-sm-12 full-width">
			<app-ourcustomers></app-ourcustomers>
		</div>
		<div class="col-md-6 col-sm-12 full-width">
			<app-testimonials></app-testimonials>
		</div>
	</div>
</div>
</section>
<app-footer></app-footer>